.popup{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;
	display: none;

	&__text{
		font-size: 16px;
		line-height: 22px;
		margin: 12px 0;
		color: #212121;
	}

	&-form{
		display: flex;
		flex-direction: column;
	}
	
	&-content{
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		padding: 50px;  
		background-color: #FFF;
		@include media-breakpoint-down(sm){
			padding: 30px;
			width: 90%;
		}
		&__label{
			color: #000;
			display: inline-block;
			&::before{
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-times{
			position: absolute;
			right: 20px;
			top: 20px;
			z-index: 9999999;
			width: 30px;
			height: 30px;   
			&:hover{
				cursor: pointer;
			}
			span{
				display: block;
				width: 30px;
				height: 2px;
				background-color: #555;
				transform: translateY(11px) rotate(-45deg);
				&:first-child{
					transform: translateY(13px) rotate(45deg);
				}
				&:hover{
					cursor: pointer;
				}
			}
		}

		&__btn{
			margin-bottom: 20px;
			display: block;
			max-width: 50%;   
		}
		&__select{
			appearance: none; 
			padding: 10px;
			color: #666;
			border: none;
			border-bottom: 1px solid #e2e2e2;
			width: 100%;
			margin-bottom: 20px;
			&:hover{
				cursor: pointer; 
			}
		}
		&__heading{
			font-size: 38px;
			color: #1C1A1A;
			margin-bottom: 10px;
			margin-top: 0;
			font-family: 'Montserrat';

			@include media-breakpoint-down(md){
				font-size: 30px;
			}
			@include media-breakpoint-down(xs){
				font-size: 20px;
				margin-bottom: 5px;
			}
		}

		&__text{
			color: #454545;
			font-size: 16px;
			max-width: 275px;
			margin-bottom: 35px;
			@include media-breakpoint-down(xs){
				margin-bottom: 5px;
			}
		}
	}
}